* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  --fundo-principal: #f5f5f5;
  --texto: #222222;
  --texto-inverso: #ffffff;
  --destaque: #1c2172;
  --destaque-inverso: #1696ff;
  --fundo-card: #ffffff;
}
body.escuro {
  --fundo-principal: #222222;
  --texto: #e0e0e0;
  --texto-inverso: #333333;
  --destaque: #ff5522;
  --destaque-inverso: #a73917;
  --fundo-card: #444444;
}

body {
    background-color: var(--fundo-principal);
    color: var(--texto);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5em;
    background-color: var(--fundo-principal);
    transition: background-color 0.5s, color 0.5s;
}

header {
    background-color: var(--destaque);
    color: var(--texto);
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
}
#ficha,
#skills,
#formacao,
#projetos {
  scroll-margin-top: 80px;
}

nav#menu ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

nav#menu a {
    text-decoration: none;
    color: var(--texto-inverso);
    font-weight: 800;
    padding: 12px 12px;
    border-radius: 5px;
    transition: background-color 0.5s, color 0.5s;
}

#menu a:hover {
    background-color: var(--destaque-inverso);
    color: var(--destaque);
}

main {
    display: grid;
    grid-template-columns: auto 90vw auto;
    gap: 20px;
    margin-top: 20px;
}

section#ficha {
    background-color: var(--fundo-card);
    padding: 20px;
    border-radius: 8px;
    grid-column: 2;
}

section#ficha img.foto {
    width:250px;
    aspect-ratio: 1/1;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
    border: 5px solid var(--fundo-card);
    outline: 5px solid var(--destaque);
    display: block;
    margin: auto;
    margin-bottom: 40px;
}

section#ficha h1 {
    color: var(--destaque);
    margin: 15px;
    font-size: 1.5em;
    text-align: left;
}
div#social {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6em;
    gap: 1em;
    margin-top: 15px;
}
div#social a {
    color: var(--destaque);
    transition: color 0.5s;
}
div#social a:hover {
    color: var(--destaque-inverso);
}
section#detalhes {
    grid-column: 2;
}
article {
    background-color: var(--fundo-card);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}
article h2 {
    color: var(--destaque);
    margin-bottom: 20px;
}
#skill-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}
#skill-container .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#skill-container .nome{
    font-weight: bold;
    color: var(--texto);
}
#skill-container .porcent {
    font-weight: bold;
    color: var(--destaque);
}
#skill-container .barra {
    width: 100%;
    height: 8px;
    background-color: var(--fundo-principal);
    border-radius: 4px;
}
#skill-container .progresso {
    height: 100%;
    background-color: var(--destaque-inverso);
    border-radius: 4px;
}
#formacao-container {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
    margin-bottom: 20px;
}
#formacao-container .curso {
    background-color: var(--fundo-principal);
    border-radius: 8px;
    border-left: 5px solid var(--destaque-inverso);
    padding-left: 15px;
    transition: border-width 0.3s, border-color 0.3s;
}
#formacao-container .curso:hover {
    border-left-width: 15px;
    border-color: var(--destaque);
    cursor: pointer;
}
#formacao-container .periodo {
    font-size: 0.8em;
    font-weight: bold;
    color: var(--texto);
}
#formacao-container .instituicao {
    color: var(--destaque-inverso);
    font-size: 1.1em;
}
#projeto-container {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
}
#projeto-container .projeto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    background-color: var(--fundo-principal);
    padding: 10px;
    border-radius: 8px;
    border-left: 5px solid var(--destaque-inverso);
    transition: border-color 0.5s, border-width 0.5s;
}
#projeto-container .projeto:hover {
    border-color: var(--destaque);
    border-left-width: 15px;
    cursor: pointer;
}

#projeto-container .foto {
    width: 250px;
    height: auto;
    max-width: none;
    aspect-ratio: 16/9;
    object-fit: cover;
    overflow: hidden;
    border-radius: 8px;
}
.carrossel {
    width: 100%;
    max-width: 400px;
    height: fit-content;
    overflow: hidden;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.25);
    border-radius: 10px;
    position: relative;
}
.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    justify-content: space-between;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.slides img {
    width: 100%;
    height: auto;
    object-fit: contain;
    image-rendering: -webkit-optimize-contrast;
    transition: transform 0.35s ease;
}
.slides img:hover {
    transform: scale(1.05);
}
button {
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.80);
    background-color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0, 0.75);
    color: rgb(255, 255, 255);
    font-size: 20px;
    cursor: pointer;
    transition: background-color 200ms ease-in;
}
button:hover {
    background-color: rgb(0, 0, 0);
    
}
.esquerda {
    left: 20px;
}
.direita {
    right: 20px;
}
.projeto-info a {
    color: var(--texto);
    text-decoration: none;
    font-weight: bold;
}
.projeto-info a:hover {
  color: var(--destaque-inverso);
}

footer {
  background-color: var(--destaque);
  color: var(--texto-inverso);
  text-align: center;
  padding: 15px;
}

@media screen and (min-width: 768px) {
    main {
        grid-template-columns: auto 300px 1fr auto;
    }
    section#ficha {
        grid-column: 2 / 3;
        height: fit-content;
        position: sticky;
        top: 65px;
    }
    section#detalhes {
        grid-column: 3 / 4;
    }
    #skill-container {
    grid-template-columns: 1fr 1fr;
    }
    
    #projeto-container .projeto {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: flex-start;
    }

    #projeto-container .projeto-info {
        flex: 1;
    }
    .carrossel {
        flex: 0 0 260px;
        width: 260px;
        height: fit-content;
  }
}